service: oe-bedrock-stack
frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs22.x
  region: us-east-1

functions:
  oe:
    handler: infra/oeHandler.handler
    timeout: 30
    memorySize: 512
    runtime: nodejs20.x
    events:
      - httpApi:
          path: /oe
          method: POST      