service: oe-bedrock-stack
frameworkVersion: '4'

provider:
  name: aws
  runtime: nodejs22.x
  region: us-east-1
  iamRoleStatements:
    - Effect: Allow
      Action:
        - bedrock:InvokeModel
      Resource: "*"

functions:
  bedrockInvoke:
    handler: infra/bedrockHandler.handler
    environment:
      MODEL_ID: anthropic.claude-3-haiku-20240307